services:
    traefik:
        image: traefik:v3.6
        container_name: yg_traefik
        restart: unless-stopped
        security_opt:
            - no-new-privileges:true
        networks:
            yoda-grammar-network:
                ipv4_address:  172.42.0.2
        ports:
            - "80:80"
            - "443:443"
            - "8080:8080"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./.docker/traefik/certs:/certs:ro
            - ./.docker/traefik/dynamic:/etc/traefik/dynamic:ro
        command:
            # EntryPoints
            - "--entrypoints.web.address=:80"
            - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
            - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
            - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
            - "--entrypoints.websecure.address=:443"
            - "--entrypoints.websecure.http.tls=true"

            # Attach the static configuration tls.yaml file that contains the tls configuration settings
            - "--providers.file.directory=/etc/traefik/dynamic"

            # Providers 
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--providers.docker.network=yoda-grammar-network"

            # API & Dashboard 
            - "--api.dashboard=true"
            - "--api.insecure=false"
            - --providers.docker=true

            # Observability 
            - "--log.level=INFO"
            - "--accesslog=true"
            - "--metrics.prometheus=true"

        #Traefik Dynamic configuration via Docker labels
        labels:
            # Enable self‑routing
            - "traefik.enable=true"

            # Dashboard router
            - "traefik.http.routers.traefik.rule=Host(`traefik.yg.docker`)"
            - "traefik.http.routers.traefik.entrypoints=websecure"
            - "traefik.http.routers.traefik.service=api@internal"
            - "traefik.http.routers.traefik.tls=true"

            # Basic‑auth middleware
            # - "traefik.http.middlewares.dashboard-auth.basicauth.users=<PASTE_HASH_HERE>"
            # - "traefik.http.routers.dashboard.middlewares=dashboard-auth@docker"


    whoami:
        image: "traefik/whoami"
        container_name: yg_whoami
        restart: unless-stopped
        networks:
            yoda-grammar-network:
                ipv4_address:  172.42.0.3
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.whoami.rule=Host(`whoami.yg.docker`)"
            - "traefik.http.routers.whoami.entrypoints=websecure"
            - "traefik.http.routers.whoami.tls=true"
    db:
        image: postgres:18-alpine
        container_name: yg_db
        restart: always
        volumes: 
            - db-data:/var/lib/postgresql
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: mypassword
            POSTGRES_DB: mydatabase
        ports:
            - "5433:5433"
        networks:
            yoda-grammar-network:
                ipv4_address:  172.42.0.4
        labels:
                - "com.symfony.server.service-prefix=YODA_GRAMMAR_DB"

    adminer:
        build: ./.docker/adminer
        container_name: yg_adminer
        restart: always
        environment: 
            ADMINER_DEFAULT_SERVER: yg_database
        depends_on:
            - db
        networks:
            yoda-grammar-network:
                ipv4_address: 172.42.0.40
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.adminer.rule=Host(`adminer.yg.docker`)"
            - "traefik.http.routers.adminer.entrypoints=websecure"
            - "traefik.http.services.adminer.loadbalancer.server.port=8080"
            - "traefik.http.routers.adminer.tls=true"
    php:
        build: ./.docker/php
        container_name: yg_php
        restart: always
        stop_signal: SIGINT
        volumes:
            - ./backendSpace:/app
            - ./scripts:/scripts/
        environment:
            - CONTAINER_NAME=yg_php
        labels:
              # Router API (HTTPS)
            - "traefik.enable=true"
            - "traefik.http.routers.php.rule=HostRegexp(`^.+\\.byg\\.docker$`)"
            - "traefik.http.routers.php.entrypoints=websecure"
            - "traefik.http.services.php.loadbalancer.server.port=80"
            - "com.symfony.server.service-prefix=YODA_GRAMMAR_PHP"

            # CORS middleware
            - "traefik.http.middlewares.cors.headers.accesscontrolalloworiginlist=*"
            - "traefik.http.middlewares.cors.headers.accesscontrolallowmethods=GET,POST,PUT,DELETE,OPTIONS"
            - "traefik.http.middlewares.cors.headers.accesscontrolallowheaders=Authorization,Content-Type"
            - "traefik.http.middlewares.cors.headers.accesscontrolallowcredentials=true"

            # Attacher le middleware au router
            - "traefik.http.routers.php.middlewares=cors@docker"
        networks:
            yoda-grammar-network:
                    ipv4_address: 172.42.0.5
        extra_hosts:
            - "api-allinone.byg.docker:172.42.0.2"
    next:
        build: ./.docker/next
        restart: always
        container_name: yg_next
        ports:
            - "3000:3000"
        volumes:
            - ./frontendSpace/allinone:/app
            - ./backendSpace:/backendSpace
            - ./.docker/traefik/certs/local-cert.pem:/etc/ssl/certs/local-cert.pem:ro
            - ./scripts:/scripts/
        environment:
            - NODE_EXTRA_CA_CERTS=/etc/ssl/certs/local-cert.pem
            - NODE_TLS_REJECT_UNAUTHORIZED=0
            - CONTAINER_NAME=yg_next
        develop:
            watch:
                - action: sync
                  path: .
                  target: /app
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.next.rule=Host(`allinone.fyg.docker`)"
            - "traefik.http.routers.next.entrypoints=websecure"
            - "traefik.http.services.next.loadbalancer.server.port=3000"
        networks:
            yoda-grammar-network:
                    ipv4_address: 172.42.0.6
        extra_hosts:
            - "api-allinone.byg.docker:172.42.0.2"

volumes:
    db-data:

networks:
    yoda-grammar-network:
        external: true
        name: yoda-grammar-network
        driver: bridge
        ipam:
            driver: default
            config:
                   - subnet: 172.42.0.0/16
