services:
    traefik:
        image: traefik:v3.6
        container_name: traefik
        restart: unless-stopped
        security_opt:
            - no-new-privileges:true

        networks:
            yoda-grammar-network:
                ipv4_address:  172.42.0.2

        ports:
            - "80:80"
            - "443:443"
            - "8080:8080"

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./.docker/traefik/certs:/certs:ro
            - ./.docker/traefik/dynamic:/etc/traefik/dynamic:ro

        command:
            # EntryPoints
            - "--entrypoints.web.address=:80"
            - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
            - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
            - "--entrypoints.web.http.redirections.entrypoint.permanent=true"
            - "--entrypoints.websecure.address=:443"
            - "--entrypoints.websecure.http.tls=true"

            # Attach the static configuration tls.yaml file that contains the tls configuration settings
            - "--providers.file.directory=/etc/traefik/dynamic"

            # Providers 
            - "--providers.docker=true"
            - "--providers.docker.exposedbydefault=false"
            - "--providers.docker.network=yoda-grammar-network"

            # API & Dashboard 
            - "--api.dashboard=true"
            - "--api.insecure=false"

            # Observability 
            - "--log.level=INFO"
            - "--accesslog=true"
            - "--metrics.prometheus=true"

        #Traefik Dynamic configuration via Docker labels
        labels:
            # Enable self‑routing
            - "traefik.enable=true"

            # Dashboard router
            - "traefik.http.routers.traefik.rule=Host(`traefik.yg.localhost`)"
            - "traefik.http.routers.traefik.entrypoints=websecure"
            - "traefik.http.routers.traefik.service=api@internal"
            - "traefik.http.routers.traefik.tls=true"

            # Basic‑auth middleware
            # - "traefik.http.middlewares.dashboard-auth.basicauth.users=<PASTE_HASH_HERE>"
            # - "traefik.http.routers.dashboard.middlewares=dashboard-auth@docker"


    whoami:
        image: "traefik/whoami"
        container_name: yg_whoami
        restart: unless-stopped
        networks:
            yoda-grammar-network:
                ipv4_address:  172.42.0.3
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.whoami.rule=Host(`whoami.yg.localhost`)"
            - "traefik.http.routers.whoami.entrypoints=websecure"
            - "traefik.http.routers.whoami.tls=true"
    database:
        image: postgres:18-alpine
        container_name: yg_db
        restart: always
        volumes: 
            - db-data:/var/lib/postgresql
        environment:
            POSTGRES_USER: myuser
            POSTGRES_PASSWORD: mypassword
            POSTGRES_DB: mydatabase
        ports:
            - "5433:5432"
        networks:
            yoda-grammar-network:
                ipv4_address:  172.42.0.4
        labels:
                - "com.symfony.server.service-prefix=YODA_GRAMMAR_DB"
    php:
        build: ./.docker/php
        container_name: yg_php
        restart: always
        stop_signal: SIGINT
        volumes:
            - ./workSpace:/app
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.yoda_grammar.rule=HostRegexp(`^.+\\.byg\\.localhost$`)"
            - "traefik.http.routers.yoda_grammar.entrypoints=websecure"
            - "traefik.http.services.yoda_grammar.loadbalancer.server.port=80"
            - "com.symfony.server.service-prefix=YODA_GRAMMAR_PHP"
        networks:
            yoda-grammar-network:
                    ipv4_address: 172.42.0.5
volumes:
    db-data:

networks:
    yoda-grammar-network:
        name: yoda-grammar-network
        driver: bridge
        ipam:
            driver: default
            config:
                   - subnet: 172.42.0.0/16
