{
    frankenphp
    auto_https off
}

:80 {
@subdomain {
        header_regexp host Host ^([a-z0-9-]+)\.cliq\.docker$
}

handle @subdomain {
                  php_server {
                             root /app/{re.host.1}/public
                             }
    }

handle {
       respond "FrankenPHP is running - CLIQ" 200
       }
}